﻿@{
    ViewBag.Title = "Contact";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AdventureWorks.Models.ContactModel

<div id="content">
    <div id="contactTable">
        <table>
            <tr>
                <td colspan="3">If you would like talk to someone about Adventure Works and the services we provide:</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>            
            <tr>
                <td>@Html.LabelFor(m => m.UserName):</td>
                <td colspan="2">@Html.TextBoxFor(m => m.UserName, new { id="txtUserName", style = "width:300px;" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.EmailAddress):</td>
                <td colspan="2">@Html.TextBoxFor(m => m.EmailAddress, new {id="txtEmailAddress", style = "width:300px;" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.ContactText):</td>
                <td colspan="2">@Html.TextAreaFor(m => m.ContactText, new { id = "txtContactText", cols = "38", rows = "5", wrap = "virtual" })</td>
            </tr>
        </table>
    </div>
 </div>