﻿@{
    ViewBag.Title = "AdventureWorks Home - Welcome to AdventureWorks";
}


<div id="content">
    <h2>
        Welcome to Adventure Works
    </h2>
    <p>
       Adventure Works Cycles, (a fictitious company) is a large, multinational manufacturing company. The company manufactures and sells metal and composite bicycles to North American European and Asian commmercial markets. While it base operation is located in Bothell, Washington with 290 employees, several regional teams are located throughout their market base.
    </p>
    <p>
       In 2000, Adventure Works bought a small plant, Importadores Neptuno, located in Mexico. Importadores Neptuno manufactures several critical components for the Adventure Works Cycles product line. These subcomponents are shipped to the Bothell location for final product assembly. In 2001, Importadores Neptuno became the sole manufacturer and distributor of the touring bicycle product group.
    </p>
    <p>
        Coming off a successful fiscal year, Adventure Work Cycles is looking to broaden its market share by targeting their sales to their best customers, extending their product availability through an external web site, and reducing their cost of sales through lower production costs.
    </p>

</div>




