﻿@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content">
    <h3>
        Manufacturing......
    </h3>
    <p>
        Manufacturing Processes:
        <ul>
            <li>Bill of materials: Lists the products that are used or contained in another product.</li>
            <li>Work orders: Manufacturing orders by work center.</li>
            <li>Locations: Defines the major manufacturing and inventory areas, such as frame forming, paint, subassembly, and so on.</li>
            <li>Manufacturing and product assembly instructions by work center.</li>
        </ul>


        Product Inventory: The physical location of a product in the warehouse or manufacturing area, and the quantity available in that area.
        <br />
        Engineering documentation: Technical specifications and maintenance documentation for bicycles or bicycle components.
    </p>    

    <h3>
        Product......
    </h3>
    <p>
        As a bicycle manufacturing company, Adventure Works Cycles has the following four product lines:
        <ul>
            <li>Bicycles that are manufactured at the Adventure Works Cycles company.</li>
            <li>Bicycle components that are replacement parts, such as wheels, pedals, or brake assemblies.</li>
            <li>Bicycle apparel that is purchased from vendors for resale to Adventure Works Cycles customers.</li>
            <li>Bicycle accessories that are purchased from vendors for resale to Adventure Works Cycles customers.</li>
        </ul>
    </p>
    
    <h3>
        Purchasing and Vendor......
    </h3>
    <p>
        At Adventure Works Cycles, the purchasing department buys raw materials and parts used in the manufacture of Adventure Works Cycles bicycles. Adventure Works Cycles also purchases products for resale, such as 
        bicycle apparel and bicycle add-ons like water bottles and pumps.
    </p>
    
    <h3>
        Sales and Marketing......
    </h3>
    <p>
        As a bicycle manufacturing company, Adventure Works Cycles has two types of customers:
        <ul>
            <li><strong>Individuals.</strong> These are consumers who buy products from the Adventure Works Cycles online store.</li>
            <li><strong>Stores.</strong> These are retail or wholesale stores that buy products for resale from Adventure Works Cycles sales representatives.</li>
        </ul>
    </p>
</div>
