﻿#container
{
	margin: 0 auto;
	width: 930px;
	background:#fff;
}

#header
{
	background:#ccc;
	padding: 20px;
}

#header h1 { margin: 0; }

#footer
{
	background:#ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
}

/* Content Styles */

#content
{
	clear: left;
	padding: 20px;
}

#content h2
{
	color:#000;
	font-size: 160%;
	margin: 0 0 .5em;
}

/* Navigation Styles */

#navigation
{
	float: left;
	width: 930px;
	background:#333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color:#fff;
	text-decoration: none;
	border-right: 1px solid#fff;
}

#navigation li a:hover { background:#383; }

/* Tables Styles */

#contactTable table
{ 
	margin-left: auto;
	margin-right: auto;
}


/* MVC HTML Styles*/




