﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div id="container">
        <div id="header">

            <!-- Created with CoffeeCup Firestarter http://www.coffeecup.com -->
            <div align="center">
                <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
                        codebase="http://active.macromedia.com/flash2/cabs/swflash.cab#version=4,0,0,0"
                        id=adventureworks_banner width=931 height=97>
                    <param name=movie value="../../content/images/adventureworks_banner.swf" />
                    <param name=quality value=high />
                    <param name=wmode value=transparent />
                    <param name=loop value=false />
                    <embed src="../../content/images/adventureworks_banner.swf" loop=false quality=high wmode=transparent
                           width=931 height=97 type="application/x-shockwave-flash"
                           pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" />
                    </EMBED>
                </object>
            </div>

        </div>
        <div id="navigation">
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Services", "Services", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.Partial("_LoginPartial")</li>
            </ul>
        </div>

        

        @RenderBody()

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)

        <div id="footer">
           <strong>Copyright © Site name, 20XX</strong> <br/>
            ** This is not a actual business site....it is for development usage only.....only similiarities to an actual site is purely coincidental **            
        </div>
    </div>
</body>
</html>
