﻿@if (Request.IsAuthenticated)
{
    <ul>
        <li>@Html.ActionLink("Manage", "Login", "Users", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>
                @using (Html.BeginForm("LogOff", "Users", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                }       
        </li>
    </ul>    
}
else
{
    <ul>
        <li>@Html.ActionLink("Log in", "Login", "Users", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
